<div>
    <h1>Unhealthy words</h1>
    <div class="row align-items-center">
        <form
          [formGroup]="form"
          (ngSubmit)="newHealthyWord(form.value)"
          class="form-inline"
        >
          <div class="form-row align-items-center">
            <div class="form-group">
              <label>Unhealthy word:</label>
              <input
                formControlName="unhealthyWord"
                type="text"
                name="unhealthyWord"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    <table>
       <thead>
          <tr>
             <th>#ID</th>
             <th>Name</th>
             <th>Email</th>
             <th>Phone</th>
             <th>Address</th>
             <th>Action</th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let item of ItemsArray">
             <th>{{ item.id }}</th>
             <td>{{ item.name }}</td>
             <td>{{ item.email }}</td>
             <td>{{ item.phone}}</td>
             <td>{{ item.address }}</td>
             <td>
                <button type="button" >Edit</button>
                <button type="button" >Delete</button>
             </td>
          </tr>
       </tbody>
    </table>
 </div>