<div class="container">
  <table class="table">
    <tr>
      <td>Avatar:</td>
      <td>
        Photo
        <form class="form-group" [formGroup]="myForm" (ngSubmit)="uploadFile()">
          <div class="custom-file">
            <input
              formControlName="image"
              class="form-control custom-file-input"
              type="file"
              name="image"
              id="image"
              (change)="onFileChange($event)"
            />
            <label class="custom-file-label" for="inputGroupFile01">
              Choose file
            </label>
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Upload</button>
          </div>
        </form>
      </td>
    </tr>
    <tr>
      <td>Username:</td>
      <td>{{ userDetails.username }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ userDetails.email }}</td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td>{{ userDetails.birthday.substr(0, 10) }}</td>
    </tr>
    <tr>
      <td>Country:</td>
      <td>{{ userDetails.country }}</td>
    </tr>
    <tr>
      <td>Admin:</td>
      <td>{{ userDetails.isAdmin }}</td>
    </tr>
  </table>
</div>
