.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 10px;
}

.img-fit {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.img-fit-post {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
