<div class="border">
  <ul
    class="nav flex-column nav-pills"
    role="tablist"
    aria-orientation="vertical"
  >
    <li class="nav-item">
      <a routerLink="/user" class="nav-link" role="tab">User profile</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link active" role="tab">Home</a>
    </li>
    <li class="nav-item">
      <a href="/following" class="nav-link" role="tab">Following</a>
    </li>
    <li class="nav-item">
      <a routerLink="/followers" class="nav-link" role="tab">Followers</a>
    </li>

    <li class="nav-item">
      <button class="btn" (click)="logout()" role="tab">
        Logout
      </button>
    </li>
  </ul>
</div>
