<div class="border border-primary">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="/user" class="nav-link">User profile</a>
    </li>
    <li class="nav-link">
      <a href="" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/following" class="nav-link">Following</a>
    </li>
    <li class="nav-item">
      <a routerLink="/followers" class="nav-link">Followers</a>
    </li>
    <li class="nav-item">
      <!-- <a href="" class="nav-link">Logout</a> -->
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </li>
  </ul>
</div>
